.section-home {
	padding: 5rem 0;
}
.section-heading {
	font-size: 3rem;
	font-weight: 700;
	background: linear-gradient(to right, black, grey);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.feature-1 .wrap-icon {
	margin: 0 auto;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	position: relative;
	margin-bottom: 30px;
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
	display: inline-flex;
	align-items: center;
	justify-content: center;
}	

.feature-1 h3 {
	font-size: 20px;
}

.feature-1 p {
	color: #b1b1b1;
}
.step {
	box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
	background: #fff;
	padding: 40px;
}

.step .number {
	background: linear-gradient(to right, black, grey);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
	display: block;
}

.step p:last-child {
	margin-bottom: 0px;
}
@media (max-width: 767px) {
	#hero .container {
		display: block !important; 
	}
}