html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.pagination > li > a {
    background-color: white;
    color: black;
}

    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover {
        color: black;
        background-color: #eee;
        border-color: #ddd;
    }

.page-item.active .page-link {
    background-color: black;
    color: #fff;
}
