@{
    ViewBag.Title = "Index";
}

<h2 class="text-center mt-5">Show Users</h2>

<br />

@if (ViewBag.Message != null)
{
    <div class="@ViewBag.Alert p-3 rounded-3 text-center mx-auto" style="width: 50rem;">@ViewBag.Message</div>
}

<br />
<partial name="ShowUsers" model="@ViewBag.Users" />