@model ThreadsApp.Models.Group


@{
    ViewBag.Title = "Edit group";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Edit", "Groups", new { id = Model.Id }, FormMethod.Post, null, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Title", "Group name")
    <br />
    @Html.TextBox("Title", Model.Title, new {@class = "form-control"})
    @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
    <br />
    <br />
    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" type="file" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <button class="btn btn-dark btn-outline-light border border-dark" type="submit">Save</button>
}

